.popupSwitch {
    user-select: none;
    cursor: pointer;
}

.popup {
    transition: .2s ease;
}

.popup--open {
    opacity: 1;
    transform: scaleX(1), scaleY(1), scaleZ(1), scale(1), scale3d(1);
}

.popup--close {
    opacity: 0;
    transform: scaleX(0), scaleY(0), scaleZ(0), scale(0), scale3d(0);
}