html, body {
    margin: 0;
}

.test {
    background: red;
    width: 50px;
    height: 50px;
}

.title {
    color: green;
}

.windowsMenu {
    background-color: cadetblue;
    padding: var(--m);
}

.windowsMenuButton {
    background-color: #b0cfcf;
    padding: var(--m);
    border-radius: 6px;
    min-height: min-content;
    height: fit-content;
}

.centerNotification {
    position: absolute;
    visibility: hidden;
    z-index: -100;
}