html {
    --mm: 1.2em;
    --m: calc(var(--mm)/2);
    --black: #000000;
    --white: #ffffff;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

.row {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

.column {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.grid {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: auto;
}

.gapmm {gap: var(--mm)}
.gapm {gap: var(--m)}

.sans-s {font-family: sans-serif;}
.pointer {cursor: pointer}

@supports (display: grid) {
    .display-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

.blackbg {background-color: var(--black)}
.black {color: var(--black)}
.whitebg {background-color: var(--white)}
.white {color: var(--white)}